.NewProduct {
    text-align: center;
    overflow: hidden;
    margin-top: 50px;
}




    h2 {
    font-size: 60px;
    margin: 0 auto 50px;
    color: var(--color-btn);
}

.NewProduct_top {
    width: 20%;
    margin: 0 auto;
}

.NewProduct_img {
    width: 20%;
    margin: 0 auto;
}

.NewProduct_bottom {
    position: relative;
    cursor: pointer;
    margin-top: 50px;
}

.NewProduct_row {
    flex-wrap: unset;
    overflow: hidden;
}

.prev {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prev div {
    width: 40px;
    height: 40px;
    background-color: var(--color-btn);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    z-index: 3;
    overflow: hidden;
}

.prev div:hover::after {
    height: 250%;
}

.prev div::after {
    content: "";
    position: absolute;
    background-color: var(--color-priemry);
    width: 150%;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%) translateY(-50%) rotate(-25deg);
    transition: 1s;
    z-index: -1;
}


@keyframes title {
    0% {
        border-left: 3px solid var(--color-priemry);
    }

    20% {
        border-bottom: 3px solid var(--color-btn);
    }

    40% {
        border-right: 3px solid var(--color-priemry);
    }

    60% {
        border-top: 3px solid var(--color-btn);
    }

}